.icon{
  width:60px;
  min-height:90px;
  padding:0px;
  margin:0px;
  word-wrap: break-word;

  border:3px dashed rgba(60, 60, 60, 0.3);
}
.icon .image{
  padding:0px;
  margin:0px;
  width:50px;
  height:50px;

  background-image: url("https://image.freepik.com/free-icon/exe-file_318-10079.jpg");
  background-position: center;
  background-size: 100% 100%;
}
